@media screen and (min-width: 60em) {
    .about-me {
        margin-top: 8rem;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    body {
        width: 80%;
    }

    .flex-width {
        flex-basis: 50%;
    }

    .about-me {
    margin-top: 8rem;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    }
}